<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form action="/books" method="GET">
  <input type="submit" value="Books">
</form>

<form action="/authors" method="GET">
  <input type="submit" value="Authors">
</form>
